 <header>
        <div class="header-container">
            <div class="demo-navber">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="demo-logo">
                                <a class="navbar-brand" href="#"><img src="/static/Theme/img/logo.png" alt="logo" class="img-responsive" /> <i class="fa fa-circle"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="demo-button">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navber-area">
                <nav class="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="logo">
                                        <a class="navbar-brand" href="#"><img src="/static/Theme/img/logo.png" alt="الشعار" class="img-responsive" /> <i class="fa fa-circle"></i></a>
                                    </div>
                                </div>
                                <ul class="menu-sidebar pull-right">
                                    <li class="marv-share">
                                        <div class="slideouticons">
                                            <input type="checkbox" id="togglebox">
                                            <label for="togglebox" class="mainlabel"><i class="fa fa-share-alt"></i></label>
                                            <div class="iconswrapper">
                                                <ul>
                                                    <li><a class="social-fb" href="#"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                                                    <li><a class="social-tw" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a class="social-gp" href="#"><i class="fa fa-google-plus" title="Google Plus"></i></a></li>
                                                    <li><a class="social-pi" href="#"><i class="fa fa-pinterest-p" title="Pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="collapse navbar-collapse nav-menu pull-right" id="bs-example-navbar-collapse-1">
                                    <div class="nav-close-button">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li><a href="#" data-scroll-nav="0">صفحه اصلی</a></li>
                                        <li><a href="#" data-scroll-nav="1">درباره ما</a></li>
                                        <li><a href="#" data-scroll-nav="2">خدمات</a></li>
                                        <li><a href="#" data-scroll-nav="3">نمونه کار ها</a></li>
                                        <li><a href="#" data-scroll-nav="4">مشتریان</a></li>
                                        <li><a href="#" data-scroll-nav="5">تیم ما</a></li>
                                        <li><a href="#" data-scroll-nav="6">وبلاگ</a></li>
                                        <li><a href="#" data-scroll-nav="7">قیمت ها</a></li>
                                        <li><a href="#" data-scroll-nav="8">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>