<!--suppress HtmlUnknownTarget -->
<script src="/static/Theme/js/jquery-2.2.4.min.js"></script>
    <script src="/static/Theme/js/bootstrap.min.js"></script>
    <script src="/static/Theme/js/popper.min.js"></script>
    <script src="/static/Theme/js/owl.carousel.min.js"></script>
    <script src="/static/Theme/js/wow.min.js"></script>
    <script src="/static/Theme/js/scrollIt.min.js"></script>
    <script src="/static/Theme/js/waypoints.min.js"></script>
    <script src="/static/Theme/js/jquery.counterup.min.js"></script>
    <script src="/static/Theme/js/morphext.min.js"></script>
    <script src="/static/Theme/js/parallaxie.js"></script>
    <script src="/static/Theme/js/particles.min.js"></script>
    <script src="/static/Theme/js/setting.js"></script>
    <script src="/static/Theme/js/custom.js"></script>

<!--suppress JSUnresolvedLibraryURL -->
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
