<!--suppress HtmlUnknownTarget -->
<link rel="icon" type="image/png" href="/static/Theme/images/favicon.jpg">
    <link rel="stylesheet" href="/static/Theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/Theme/css/themify-icons.css">
    <link rel="stylesheet" href="/static/Theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/Theme/css/animate.min.css">
    <link rel="stylesheet" href="/static/Theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/Theme/css/owl.theme.min.css">
    <link rel="stylesheet" href="/static/Theme/css/magnific-popup.css" />
    <link rel="stylesheet" href="/static/Theme/css/style.css">
    <link rel="stylesheet" href="/static/Theme/css/responsive.css">
    <link rel="stylesheet" href="/static/Theme/css/main.css" id="colors">