{% extends "shared/layout.html" %}

{% block content %}



    <!--suppress HtmlUnknownTarget, HtmlFormInputWithoutLabel -->
    <section class="bg_secondry">
        <canvas id="particles-js"></canvas>
        <div class="home-content">
            <div class="text-center banner-center-content">
                <h4>ما متمایز هستیم</h4>
                <h1>ما <span id="js-rotating">حرفه ای، خلاق، کاربلد</span> هستیم</h1>
                <p>ما یک آژانس پرشور طراحی دیجیتال هستیم که در زمینه طراحی زیبا و با کاربرد آسان دیجیتال تخصص داریم.</p>
                <a href="#" class="button btn-default">الان شروع کن</a>
            </div>
        </div>
        <a class="scroll-down" title="Scroll Down" href="#" data-scroll-nav="1"><i class="fa fa-circle"
                                                                                   aria-hidden="true"></i></a>
    </section>
    <!--// End Slider Home-->

    <!-- Start About Area -->
    <section class="section-padding dir-rtl" id="marv-about" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>درباره <span>ما</span></h2>
                    </div>
                </div>
            </div>
            <div class="row mt80">
                <div class="col-lg-7 col-sm-12">
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    <p class="typo-pg">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                        مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
                        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
                        صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                        زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                        اساسا مورد استفاده قرار گیرد.


                    </p>
                    <ul class="list-inline row list-award mt50">
                        <li class="col-md-4"><img class="img-award" src="/static/Theme/img/award1.png" alt="#">
                            <span><b>2016</b>جایزه بین المللی</span>
                        </li>
                        <li class="col-md-4"><img class="img-award" src="/static/Theme/img/award2.png" alt="#">
                            <span><b>2017</b>جایزه بین المللی </span>
                        </li>
                        <li class="col-md-4"><img class="img-award" src="/static/Theme/img/award3.png" alt="#">
                            <span><b>2018</b>جایزه بین المللی</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <div class="about-bg">
                        <img src="/static/Theme/img/about.png" class="img-responsive" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // End About Area -->

    <!-- Start Services Area -->
    <section id="marv-services" class="dir-rtl services-area section-padding " data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>خدمات <span>ما</span></h2>
                    </div>
                </div>
            </div>
            <div class="show-case-box mt50">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-wand"></i>
                                </span>
                            <h5>تمیز و ساده</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-comments-smiley"></i>
                                </span>
                            <h5>پشتیبانی مفید</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-heart"></i>
                                </span>
                            <h5>آسان برای استفاده</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-palette"></i>
                                </span>
                            <h5>طرح های مدرن</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-headphone-alt"></i>
                                </span>
                            <h5>پشتیبانی سریع</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay=.2s data-wow-duration=1s>
                        <div class="single-service">
                            <span class="service-icon">
                                    <i class="ti-light-bulb"></i>
                                </span>
                            <h5>ایده های مدرن</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="user-interface wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <div class="title">UI</div>
                        <h4>رابط کاربری مدرن</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-interface wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <div class="title">UX</div>
                        <h4>تجربه کاربری مدرن</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// End Services  Area -->

    <!--Start Portfolio Area-->
    <section id="marv-portfolio" class="dir-rtl mr-masonry-block popup-gallery section-padding " data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>نمونه هایی <span>از</span> تجارت ما</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="isotope-filters isotope-tooltip">
                        <button data-filter="" class="active">همه <span>25</span></button>
                        <button data-filter=".photography">عکاسی<span>5</span></button>
                        <button data-filter=".branding">علائم تجاری<span>10</span></button>
                        <button data-filter=".webdesign">طراحی سایت <span>12</span></button>
                        <button data-filter=".illustration">طراحی گرافیک<span>4</span></button>
                    </div>
                    <div class="mr-masonry mr-columns-3">
                        <div class="mr-masonry-item photography">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/01.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/01.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item branding">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/02.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/02.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item webdesign">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/03.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/03.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item illustration">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/04.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/04.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item photography">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/05.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/05.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item branding">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/06.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/06.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mr-masonry-item webdesign">
                            <div class="marv-portfolio">
                                <a class="marv-portfolio-img" href="#">
                                    <img class="img-responsive" src="/static/Theme/img/portfolio/07.jpg" alt="#">
                                </a>
                                <div class="mr-overbg">
                                    <div class="marv-portfolio-content">
                                        <h5 class="title mr-font-white"><a href="#">نام کسب کار</a></h5>
                                        <hr>
                                        <ul class="marv-portfolio-icon">
                                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            <li><a class="image-link popup-img"
                                                   href="/static/Theme/img/portfolio/07.jpg"><i
                                                    class="fa fa-arrows-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--//End Portfolio Area-->

    <!-- Start Reviews Section -->
    <section class="reviews-area single-prallex prallex-reviews" data-scroll-index="4">
        <div class="after-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading  prallex-heading">
                            <h2>برخی از <span>نظرات </span>مشتریان ما</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-reviews">
                            <div class="single-reviews dir-rtl">
                                <p class="review-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="content">
                                    <div class="image">
                                        <img src="/static/Theme/img/clients/01.jpg" class="img-circle img-responsive"
                                             alt="Reviewer"/>
                                    </div>
                                    <div class="reviewer-name">
                                        <h5>لورم ایپسوم </h5>
                                        <span>توسعه دهنده برنامه</span>
                                        <div class="mr-star mr-font-green"><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                                                                                             aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="single-reviews dir-rtl">
                                <p class="review-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="content">
                                    <div class="image">
                                        <img src="/static/Theme/img/clients/02.jpg" class="img-circle img-responsive"
                                             alt="Reviewer"/>
                                    </div>
                                    <div class="reviewer-name">
                                        <h5>لورم ایپسوم </h5>
                                        <span>مشتری</span>
                                        <div class="mr-star mr-font-green"><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                                                                                             aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="single-reviews dir-rtl">
                                <p class="review-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="content">
                                    <div class="image">
                                        <img src="/static/Theme/img/clients/03.jpg" class="img-circle img-responsive"
                                             alt="Reviewer"/>
                                    </div>
                                    <div class="reviewer-name">
                                        <h5>لورم ایپسوم </h5>
                                        <span>توسعه دهنده موبایل</span>
                                        <div class="mr-star mr-font-green"><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                                                                                             aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="single-reviews dir-rtl">
                                <p class="review-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="content">
                                    <div class="image">
                                        <img src="/static/Theme/img/clients/04.jpg" class="img-circle img-responsive"
                                             alt="Reviewer"/>
                                    </div>
                                    <div class="reviewer-name">
                                        <h5>لورم ایپسوم </h5>
                                        <span>توسعه دهنده وب</span>
                                        <div class="mr-star mr-font-green"><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                                                                                             aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="single-reviews dir-rtl">
                                <p class="review-desc">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="content">
                                    <div class="image">
                                        <img src="/static/Theme/img/clients/05.jpg" class="img-circle img-responsive"
                                             alt="Reviewer"/>
                                    </div>
                                    <div class="reviewer-name">
                                        <h5>لورم ایپسوم </h5>
                                        <span>توسعه دهنده وب</span>
                                        <div class="mr-star mr-font-green"><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                                                                                             aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--// .all-reviews  -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// End Reviews Section -->

    <!--Start Team Section -->
    <section class="team-area section-padding" data-scroll-index="5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2><span>تیم</span> ما</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="all-team">
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/01.jpg" alt="member-1">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- ECO and Founder -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/02.jpg" alt="member-2">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- UI/UX Designer -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/03.jpg" alt="member-3">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- Technica Director -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/04.jpg" alt="member-4">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- UI Designer -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/05.jpg" alt="member-5">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- Customer Support -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-team dir-rtl">
                            <img src="/static/Theme/img/team/06.jpg" alt="member-6">
                            <div class="team-hover">
                                <h5>لورم ایپسوم </h5>
                                <small>- Backend Developer -</small>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// End Team Section -->

    <!-- Start NewsLetter Section -->
    <section class="newsletter-area single-prallex prallex-newsletter dir-rtl">
        <div class="after-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading  prallex-heading">
                            <h2>عضو<span>خبرنامه ما</span> شوید</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <p>
                                به بیش از 10 هزار مشترک بپیوندید و به جدیدترین فرم ها ، اطلاعیه ها و منابع دسترسی پیدا
                                کنید!
                            </p>
                            <div id="show_subscriber_msg"></div>
                            <form method="post" id="subscriber_form" action="contact.php">
                                <div class="subscribe-box">
                                    <input type="email" class="form-control text-box" id="subscriberemail"
                                           name="subscriber_email" placeholder="ایمیل را وارد کنید" required>
                                    <input type="submit" name="submit" class="submit-subscribe-btn" value="عضویت">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// End Newsletter Section -->

    <!-- Start Blog Section -->
    <section class="section-padding dir-rtl" data-scroll-index="6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>وبلاگ <span>مقالات</span> جدید</h2>
                    </div>
                </div>
            </div>
            <div class="row mt80">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="mr-blog-entry">
                        <div class="mr-entry-image clearfix">
                            <img class="img-responsive" src="/static/Theme/img/blog/01.jpg" alt="#">
                            <span class="tag"><i class="ti-image"></i>عکس</span>
                            <span class="date">12<small>بهمن</small></span>
                        </div>
                        <div class="mr-blog-detail">
                            <div class="mr-entry-title mr-mb-10">
                                <a href="#">
                                    <h5 class="mr-tw-6">عنوان مقاله در اینجا</h5>
                                </a>
                            </div>
                            <div class="mr-entry-content">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                            </div>
                            <ul class="mr-entry-meta">
                                <li><a href="#"><i class="ti-user" aria-hidden="true"></i> ادمین</a></li>
                                <li><a href="#"><i class="ti-heart" aria-hidden="true"></i> 6 پسندیدن</a></li>
                                <li><a href="#"><i class="ti-comment-alt" aria-hidden="true"></i> 9 نظرات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="mr-blog-entry">
                        <div class="mr-entry-image clearfix">
                            <img class="img-responsive" src="/static/Theme/img/blog/02.jpg" alt="#">
                            <span class="tag"><i class="ti-image"></i>عکس</span>
                            <span class="date">12<small>بهمن</small></span>
                        </div>
                        <div class="mr-blog-detail">
                            <div class="mr-entry-title mr-mb-10">
                                <a href="#">
                                    <h5 class="mr-tw-6">عنوان مقاله در اینجا</h5>
                                </a>
                            </div>
                            <div class="mr-entry-content">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                            </div>
                            <ul class="mr-entry-meta">
                                <li><a href="#"><i class="ti-user" aria-hidden="true"></i> ادمین</a></li>
                                <li><a href="#"><i class="ti-heart" aria-hidden="true"></i> 6 پسندیدن</a></li>
                                <li><a href="#"><i class="ti-comment-alt" aria-hidden="true"></i> 9 نظرات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="mr-blog-entry">
                        <div class="mr-entry-image clearfix">
                            <img class="img-responsive" src="/static/Theme/img/blog/03.jpg" alt="#">
                            <span class="tag"><i class="ti-image"></i>عکس</span>
                            <span class="date">12<small>بهمن</small></span>
                        </div>
                        <div class="mr-blog-detail">
                            <div class="mr-entry-title mr-mb-10">
                                <a href="#">
                                    <h5 class="mr-tw-6">عنوان مقاله در اینجا</h5>
                                </a>
                            </div>
                            <div class="mr-entry-content">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                            </div>
                            <ul class="mr-entry-meta">
                                <li><a href="#"><i class="ti-user" aria-hidden="true"></i> ادمین</a></li>
                                <li><a href="#"><i class="ti-heart" aria-hidden="true"></i> 6 پسندیدن</a></li>
                                <li><a href="#"><i class="ti-comment-alt" aria-hidden="true"></i> 9 نظرات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // End Blog Section -->


    <section class="counter-section section-padding dir-rtl">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter">
                        <div class="icon"><i class="ti-layers-alt"></i></div>
                        <h2 class="counterUp">1290</h2>
                        <p>پروژه های اجرا شده</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter">
                        <div class="icon"><i class="ti-map-alt"></i></div>
                        <h2 class="counterUp">350</h2>
                        <p>بازدید از سایت ها</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter">
                        <div class="icon"><i class="fa fa-coffee"></i></div>
                        <h2 class="counterUp">253</h2>
                        <p>مصاحبه های شغلی</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                    <div class="counter">
                        <div class="icon"><i class="ti-face-smile"></i></div>
                        <h2 class="counterUp">250</h2>
                        <p>مشتری های خوشحال</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Pricing Area -->
    <section class="section-padding dir-rtl" data-scroll-index="7">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>بهترین <span>قیمت</span> ها</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-container">
                        <div class="plan">
                            <div class="plan-price">
                                <h3>
                                    <i class="ti-gift"></i>
                                    برنزی
                                </h3>
                                <span class="value">10000 هزار تومان</span>
                                <span class="period">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </span>
                            </div>
                            <div class="plan-features">
                                <ul>
                                    <li>دامنه رایگان</li>
                                    <li>90 روز رایگان</li>
                                    <li>بدون شرط</li>
                                    <li>تیم پشتیبانی مادام العمر</li>
                                </ul>
                                <a class="button border" href="#">هم اکنون خریداری کنید</a>
                            </div>
                        </div>
                        <div class="plan featured">
                            <div class="listing-badge">
                                <span class="featured">مميزة</span>
                            </div>
                            <div class="plan-price">
                                <h3>
                                    <i class="ti-medall-alt"></i>
                                    نقره ای
                                </h3>
                                <span class="value">20000 هزار تومان</span>
                                <span class="period">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </span>
                            </div>
                            <div class="plan-features">
                                <ul>
                                    <li>دامنه رایگان</li>
                                    <li>90 روز رایگان</li>
                                    <li>بدون شرط</li>
                                    <li>تیم پشتیبانی مادام العمر</li>
                                    <li>تیم پشتیبانی مادام العمر</li>
                                </ul>
                                <a class="button border" href="#">هم اکنون خریداری کنید</a>
                            </div>
                        </div>
                        <div class="plan">
                            <div class="plan-price">
                                <h3>
                                    <i class="ti-layers-alt"></i>
                                    طلایی
                                </h3>
                                <span class="value">30000 هزار تومان</span>
                                <span class="period">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </span>
                            </div>
                            <div class="plan-features">
                                <ul>
                                    <li>دامنه رایگان</li>
                                    <li>90 روز رایگان</li>
                                    <li>بدون شرط</li>
                                    <li>تیم پشتیبانی مادام العمر</li>
                                </ul>
                                <a class="button border" href="#">هم اکنون خریداری کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //End Pricing Area -->

    <!-- Start Contact Section -->
    <section id="contact" class="contact dir-rtl" data-scroll-index="8">
        <div class="part-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading prallex-heading">
                            <h2>با ما در <span>تماس </span>باشید</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="part-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contact-form">
                            <h4>برای ما پیام ارسال کنید</h4>
                            <p class="mt30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است ! </p>
                            <div id="show_contact_msg"></div>
                            <form id='contact-form' class="mt25" method="post" action="contact.php">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input id="contact_name" type="text" name="name" placeholder="اسم"
                                               class="form-control" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input id="contact_phone" type="text" name="phone" placeholder="تلفن"
                                               class="form-control" required="required">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input id="contact_email" type="email" name="email" class="form-control"
                                               placeholder="ایمیل" required="required">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input id="contact_subject" type="text" name="subject" placeholder="موضوع"
                                               class="form-control" required="required">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <textarea id="contact_text" rows="6" name="message" class="form-control"
                                                  placeholder="متن پیام.." required="required"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <button type="submit" value="Send Now" class="button">ارسل پیام</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-5 mb-30">
                        <div class="box-info">
                            <h4>اطلاعات تماس</h4>
                            <p class="mt30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                            <div class="item mt-20">
                                <i class="ti-location-pin"></i>
                                <h5>
                                    <span>عنوان: </span>
                                    شهرک غرب، <br> ایران، تهران
                                </h5>
                            </div>

                            <div class="item mt-20">
                                <i class="ti-email"></i>
                                <h5>
                                    <span>پست الکترونیک: </span>
                                    <a href="#">Info@domain.com</a> <br><a href="#">support@domain.com</a>
                                </h5>
                            </div>

                            <div class="item mt-20">
                                <i class="ti-headphone-alt"></i>
                                <h5>
                                    <span>تلفن </span>
                                    (021) 123 456 789<br> Office - (021) 2345 678 900
                                </h5>
                            </div>
                            <div class="item mt-20">
                                <i class="ti-skype"></i>
                                <h5>
                                    <span>اسکایب: </span>
                                    user.skype
                                </h5>
                            </div>

                            <div class="social-icon mt-20">
                                <a href="0#" class="facebook"><span><i class="ti-facebook"></i></span></a>
                                <a href="0#" class="twitter"><span><i class="ti-twitter"></i></span></a>
                                <a href="0#" class="dribbble"><span><i class="ti-dribbble"></i></span></a>
                                <a href="0#" class="linkedin"><span><i class="ti-linkedin"></i></span></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //End Contact Section -->
{% endblock %}